@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #dadada;
    display: flex;
}

#left {
    width: 70%; 
    height: 100%;
}

#ltop {
    width: 100%;
    height: 65%; 
    background-image: url("https://images.unsplash.com/photo-1536882240095-0379873feb4e?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lbottom {
    width: 100%;
    height: 38%;
    background-color: #222;
    color: #fff;
    padding: 50px 100px; 
}

#left-content-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
}

#sub-left-content {
    width: 48%; 
}

#sub-left-content p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6; 
}

.row {
    margin-top: 20px;
    display: flex;
    gap: 40px; 
    align-items: center;
}

.row-elem {
    display: flex;
    align-items: center;
}

.row-element-text {
    margin-left: 10px;
}

.row-element-text h6 {
    opacity: 0.6;
    font-weight: 500;
}

#sub-right-content {
    width: 48%; 
}

#right {
    width: 30%; 
    height: 100%;
}

#rtop {
    width: 100%;
    height: 65%; 
    background-color: #fff;
    padding: 20px; 
}

#rbottom {
    width: 100%;
    height: 38%; 
    background-image: url("https://images.unsplash.com/photo-1504198266287-1659872e6590?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.fi-tr-wallet, .fi-rr-bulb, .fi-rr-shovel, .fi-rr-raindrops {
    color: green;
    font-weight: 800;
    font-size: 20px;
}

#rtop-top-nav > i {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}

#rtop-top-nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rtop-top-sub-nav > ul {
    padding: 20px;
}

#rtop-top-sub-nav > ul > li {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

#rtop-top-sub-image {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left:-20px;
    gap: 10px;
}

#rtop-top-sub-image > i {
    font-size: 30px;
}